/* место для вашего кода */
.header {
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height:293px;
    padding:90px 50px 95px 50px;
    font-size: 18px;
}

.header__logo {
    display:block;
    width: 137px;
    height: 110px;
}

.header__links-list {
    display: flex;
    justify-content: start;
    list-style-type: circle;
    gap: 33px;
    
}

.header__links-list-item_no-bullit {
    list-style-type:none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header__link_active {
    text-decoration: none;
    
}

.address {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    
    max-width: 240px;
    font-style:normal;
    line-height: 24px;
}

.address  a{
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header__address {
    justify-self: end;
}

.cover {
    background-image: url('../images/cover.jpg');
    min-height:757px;
    background-size: auto 100%;
    background-position:center;
    position:relative;
    z-index:-2;
}

.overlay {
    background-color:black;
    opacity: 60%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
}

.cover__title{
    text-transform:uppercase;
    
    color: white;
    
}

.lots {
    margin: 180px 24px;
    height: 723px;
}

.cards{
    display:grid;
    gap: 25px;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: 596px;
}

.card-first{
    background-image: url('../images/card-lot-01.jpg');
}

.card-second{
    background-image: url('../images/card-lot-02.jpg');
}

.card-third{
    background-image: url('../images/card-lot-03.jpg');
}

.about {
    
    margin: 180px 24px;
    height: 595px;
}

.footer {
    display:flex;
    justify-content: space-around;
    height:180px;
}


