/* место для вашего кода */
.header {
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height:293px;
    padding: 95px 50px;
    background-color:grey;
}

.header__logo {
    display:block;
    height: 105px;
    width: 148px;
}

.header__links-list {
    display: flex;
    justify-content: start;
    list-style-type: circle;
    gap: 34px;
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    list-style-type:none;
}

.address {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 240px;
    justify-self: end;
}

.cover {
    background-image: url('../images/cover.jpg');
    height:757px;
}

.lots {
    margin: 180px 24px;
    height: 723px;
}

.cards{
    display:grid;
    gap: 25px;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: 596px;
}

.card-first{
    background-image: url('../images/card-lot-01.jpg');
}

.card-second{
    background-image: url('../images/card-lot-02.jpg');
}

.card-third{
    background-image: url('../images/card-lot-03.jpg');
}

.about {
    
    margin: 180px 24px;
    height: 595px;
}

.footer {
    display:flex;
    justify-content: space-around;
    height:180px;
}


